.user-card {
    background-color: hsl(235, 46%, 20%);
    width: 250px;
    height: 520px;
    border-radius: 12px;
    background-size: auto;
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
    .user-info {
        background-color: hsl(246, 80%, 60%);
        padding: 10px;
        height: 70%;
        border-radius: inherit;
        * {
            margin: 0; 
        }
    }
    .choices {
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 30%;
        background-color: inherit;
        border-radius: 12px;
        margin-bottom: 30px;
        .choice-container {
                display: flex;
                justify-content: flex-start;
                .choice {
                    margin: 0;
                    cursor: pointer;
                    color: hsl(236, 100%, 87%);
                    font-size: 15px;
                    &:hover {
                        color: white;
                    }
                }
        }
        
    }
}
.user{
    width: 100px  !important;
    height:100px !important ;
    border: solid white 1px;
    border-radius: 50px;
}