
.work {
    background-color: hsl(15 , 100% , 70%);
}
.play    {
    background-color: hsl(195 , 74% , 62%);
}
.study {
    background-color: hsl(348 , 100% , 68%);
}
.exercise {
    background-color: hsl(145 , 58% , 55%);
}
.social {
    background-color: hsl(264 , 58% , 52%);
}
.self-care {
    background-color: hsl(43 , 84% , 65%);
}

.timeframe {
    border-radius: 10px;
    gap: 20px;
    width: 250px;
    height: 250px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    * {
        margin: 0; 
    }
}


.timeframe-text-container {
    background-color: hsl(235, 46%, 20%);
    transition: 0.2s;
    border-radius: inherit;
    z-index: 1;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    &:hover {
        background-color: hsl(245, 55%, 30%);
    }
   
}

.timeframe-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
        height: 5px;
    }
}

.timeframe-image-container {
    display: flex;
    justify-content: flex-end;
    position: relative;
    z-index: 0;
    img {
        height: 80px;
        width: 80px;
        position: absolute;
        z-index: -1;
        right: 15px;
        top: -4px;
    }
}
.timeframe-previous-current {
    display: flex;
    flex-direction: column;
    gap: 10px;
    .timeframe-current {
        font-size: 3em ;
        font-weight: lighter;
    }
    .timeframe-previous {
        font-size: 15px;
        color: hsl(236, 100%, 87%)
    }
}